* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    justify-content: center;
}

.battle-field {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battle-field hr {
    width: 100%;
    margin: 10px 0;
    background-color: #282c34;
    border: 1px solid #282c34;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
}

.team:first-child {
    background-color: rgba(255, 232, 115, 0.75);
}

.team:last-child {
    background-color: rgba(138, 110, 215, 0.6);
}

.row {
    margin: 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unit {
    padding: 5px 10px;
    margin: 15px 50px;
    width: 150px;
    text-align: center;
}

.unit img {
    max-height: 80px;
    position: relative;
}

.unit:hover {
    cursor: pointer;
}

.active {
    border: 5px solid #008110;
}

.under-attack {
    border: 5px solid #A60800;
}

.round-info {
    width: 25vh;
    height: 100vh;
    padding: 15px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.query {
    width: 130px;
    height: 40px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    border-radius: 1px;
    margin-bottom: 20px;
}

.yellow-team {
    background-color: rgb(255, 232, 115);
}

.purple-team {
    background-color: rgb(138, 110, 215);
}

.app button {
    position: absolute;
    top: 365px;
    left: 225px;
    width: 150px;
    height: 50px;
    background-color: #282c34;
    border: 1px solid #282c34;
    color: white;
    font-size: 20px;
}